@{
    ViewData["Title"] = "Add Initial Stock (Generate Buffer Stock And MinMax Stock)";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemApps.Models;
@using PurchasingSystemApps.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model InitialStockViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="InitialStock" asp-action="CreateInitialStock" method="post" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="GenerateBy">Generate By</label>
                        <div class="col-sm-9">
                            <select asp-for="GenerateBy" class="form-control select2bs4" style="width: 100%;" id="generateby">
                                <option value="" hidden disabled selected>--Choose Generate--</option>
                                <option value="Product">Product</option>
                                <option value="Principal">Principal</option>
                            </select>
                            <span asp-validation-for="GenerateBy" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row" id="listproduct">
                        <label class="col-sm-3 col-form-label" asp-for="ProductId">
                            Product
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="ProductId" data-placeholder="--Choose Product--" asp-items="@ViewBag.Product" class="form-control select2bs4" style="width: 100%;" id="selectproduct">
                                <option value="" hidden disabled selected>--Choose Product--</option>
                            </select>
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row" id="listprincipal">
                        <label class="col-sm-3 col-form-label" asp-for="PrincipalId">
                            Principal
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="PrincipalId" data-placeholder="--Choose Principal--" asp-items="@ViewBag.Principal" class="form-control select2bs4" style="width: 100%;" id="selectprincipal">
                                <option value="" hidden disabled selected>--Choose Principal--</option>
                            </select>
                            <span asp-validation-for="PrincipalId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="LeadTimeId">
                            Lead Time
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="LeadTimeId" asp-items="@ViewBag.LeadTime" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice LeadTime--</option>
                            </select>
                            <span asp-validation-for="LeadTimeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="CalculateBaseOn">Calculate Base On</label>
                        <div class="col-sm-9">
                            <select asp-for="CalculateBaseOn" class="form-control select2bs4" style="width: 100%;" id="calculatebaseon">
                                <option value="" hidden disabled selected>--Choose Calculate--</option>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                            </select>
                            <span asp-validation-for="CalculateBaseOn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="MaxRequest">Max Request</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="number" asp-for="MaxRequest" class="form-control form-control-border border-width-2" id="" placeholder="Max Request">
                            @*<span class="text-success">(Daily/Weekly/Monthly)</span>*@
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="AverageRequest">Average Request</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="number" asp-for="AverageRequest" class="form-control form-control-border border-width-2" id="" placeholder="Average Request">
                            @*<span class="text-success">(Daily/Weekly/Monthly)</span>*@
                        </div>
                    </div>                    
                </div>
                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Update Product</div></button>
                        <a class="btn btn-default" asp-action="Index" asp-controller="InitialStock">Cancel</a>
                    </div>
                </div>
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>

                    <script>
                        $("#listproduct").hide();
                        $("#listprincipal").hide();
                        
                        $("#generateby").change(function () {
                            if ($(this).val() == "Product") {
                                $("#listproduct").show();
                            }
                            else {
                                $("#listproduct").hide();
                                $('#selectproduct').select2('val', 'selectedIndex', 0);
                                $("#selectproduct").data('placeholder');
                            }

                            if ($(this).val() == "Principal") {
                                $("#listprincipal").show();
                            } else {
                                $("#listprincipal").hide();
                                $('#selectprincipal').select2('val', 'selectedIndex', 0);
                                $("#selectprincipal").data('placeholder');
                            }
                        });
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>            
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->