@{
    ViewData["Title"] = "Add Purchase Request";
    Layout = "~/Views/Shared/_TopNavbarPurchaseRequest.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemApps.Areas.Order.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model PurchasingSystemApps.Areas.Order.Models.PurchaseRequest

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="PurchaseRequest" asp-action="CreatePurchaseRequest" method="post" class="form-horizontal">
                <div class="card-body">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <input asp-for="@User.Identity.Name" class="form-control" type="hidden">
                    }
                    <input asp-for="Status" id="status" value="Not Approved" type="hidden">
                    <input asp-for="UserAccessId" id="useraaccessid" type="hidden">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="PurchaseRequestNumber">PR Number</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="PurchaseRequestNumber" class="form-control form-control-border border-width-2" id="purchaserequestnumber" placeholder="PR Number" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="UserApprovalId">
                            User Approval
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="UserApprovalId" asp-items="@ViewBag.Approval" class="form-control select2bs4" id="userapprovalid" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice User--</option>
                            </select>
                            <span asp-validation-for="UserApprovalId" class="error"></span>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="TermOfPaymentId">
                            Term Of Payment
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="TermOfPaymentId" asp-items="@ViewBag.TermOfPayment" class="form-control select2bs4" id="termofpayment" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice TOP--</option>
                            </select>
                            <span asp-validation-for="TermOfPaymentId" class="error"></span>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Note">Note</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="note" placeholder="Note">
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title fw-bold" style="color:#ffffff">Item</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <select asp-items="@ViewBag.Product" class="form-control select2bs4" style="width: 100%;" id="produklist" data-placeholder="--Choice Product--">
                                        <option value="" hidden disabled selected>--Choice Product--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <input autocomplete="off" class="form-control" type="number" pattern="/^-?\d+\.?\d*$/" onKeyUp="qtyInput(this.value)" onKeyPress="if(this.value.length==4) return false;" min="1" max="1000" id="qty" placeholder="Qty">
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <a class="btn bg-indigo" id="btnAdd">
                                            <div style="color:#ffffff">Add to Table</div>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <input autocomplete="off" class="form-control" id="minstock" type="hidden" placeholder="Min Stock" readonly>                                
                            </div>
                            <div class="col-sm-1">                                
                                <input autocomplete="off" class="form-control" id="maxstock" type="hidden" placeholder="Max Stock" readonly>
                            </div>
                            <div class="col-sm-2">                               
                                <input autocomplete="off" class="form-control" id="bufferstock" type="hidden" placeholder="Buffer Stock" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <span>Product Number</span>
                                <input autocomplete="off" class="form-control" id="productnumber" placeholder="Product Number" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-sm-4">
                                <span>Product Name</span>
                                <input autocomplete="off" class="form-control" id="productname" placeholder="Product Name" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-sm-1">
                                <span>Stock</span>
                                <input autocomplete="off" class="form-control" id="stock" placeholder="Stock" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-sm-3">
                                <span>Principal</span>
                                <input autocomplete="off" class="form-control" id="principal" placeholder="Principal" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-sm-2">
                                <span>Measure</span>
                                <input autocomplete="off" class="form-control" id="measure" placeholder="Measure" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-sm-1" hidden>
                                <span>Discount</span>
                                <input autocomplete="off" class="form-control" id="discount" placeholder="Discount" hidden readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-sm-2" hidden>
                                <span>Price</span>
                                <input autocomplete="off" class="form-control" id="price" placeholder="Price" hidden readonly>
                                <span class="error">Required !</span>
                            </div>
                        </div>

                        <div class="card-body table-responsive p-0">
                            <table id="tbldetailpr" class="table table-head-fixed text-nowrap table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">No</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Number</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Name</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Principal</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Measure</div></th>   
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty</div></th>
                                        <th class="text-right" style="background-color:#7FB9EE" hidden><div style="color:#ffffff">Price</div></th>
                                        <th class="text-right" style="background-color:#7FB9EE" hidden><div style="color:#ffffff">Discount</div></th>
                                        <th class="text-right" style="background-color:#7FB9EE" hidden><div style="color:#ffffff">Sub Total</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff"></div></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-right" hidden><b>Total Qty</b></td>
                                        <td id="producttotalqty" class="text-center productTotalQty" hidden>0</td>
                                        <td colspan="2" class="text-right" hidden><b>Grand Total</b></td>
                                        <td id="productgrandtotal" class="text-right productGrandTotal" hidden>0</td>
                                        <td hidden></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        @****Perhatikan type nya jika submit akan berbeda hasil pada json, jadi pakai type button*@
                        <input type="button" value="Save" id="submit" class="btn btn-primary bg-indigo float-left fw-bold">
                        <a class="btn btn-default" asp-action="Index" asp-controller="PurchaseRequest">Batal</a>
                    </div>
                </div>
                <!-- /.end button footer -->
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts {
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#produklist").change(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadProduk")',
                    dataType: 'json',
                    data: { id: $("#produklist").val() },
                    success: function (item) {
                        $.each(item, function () {
                            //Hidden
                            $("#minstock").val(item.minStock);
                            $("#maxstock").val(item.maxStock);
                            $("#bufferstock").val(item.bufferStock);

                            $("#productnumber").val(item.productCode);
                            $("#productname").val(item.productName);
                            $("#stock").val(item.stock);
                            $("#principal").val(item.principal.principalName);
                            $("#measure").val(item.measurement.measurementName);
                            $("#discount").val(item.discount.discountValue);
                            $("#price").val(item.buyPrice);
                        });
                    },
                    error: function (ex) {
                        alert('Please wait until the data..., ' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#produklist").change(function () {
                $("#qty").val('1').focus();
            });
        });
    </script>

    <script>
        function qtyInput(qtySpecial) {
            var qtySpecial = qtySpecial.replace(/[^0-9]+/g, "");
            document.getElementById("qty").value = "";
            document.getElementById("qty").value = qtySpecial;
        };
    </script>

    <script>
        var emptyRow = "<tr><td colspan='10' class='text-center'> No data available in table </td></tr>";

        $(document).ready(function () {
            $('#tbldetailpr tbody').append(emptyRow);

            var detailItem = []
            var detail = {};

            var detailName = document.getElementsByClassName("row-productNumber");
            var detailNameProduct = document.getElementsByClassName("row-productName");

            $('#qty').keypress(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    swal({
                        title: "Warning",
                        text: "Please, click the Add to Table",
                        type: "warning"
                    });
                }
            });

            //Add button click function
            $('#btnAdd').click(function () {
                var qtyInputan = parseInt($('#qty').val());
                var qtyTersedia = parseInt($('#stock').val());
                var qtyBufferStock = parseInt($('#bufferstock').val());
                var qtyMinStock = parseInt($('#minstock').val());
                var qtyMaxStock = parseInt($('#maxstock').val());
                var qtyOrder = qtyMaxStock - qtyMinStock;

                if (qtyInputan <= qtyOrder) {
                    if (detailItem.length >= 0) {
                        var isValidItem = true;
                        if ($('#productnumber').val().trim() == '') {
                            isValidItem = false;
                            $('#productnumber').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#productnumber').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#productname').val().trim() == '') {
                            isValidItem = false;
                            $('#productname').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#productname').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#measure').val().trim() == '') {
                            isValidItem = false;
                            $('#measure').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#measure').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#principal').val().trim() == '') {
                            isValidItem = false;
                            $('#principal').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#principal').siblings('span.error').css('visibility', 'hidden');
                        }                        

                        if (!($('#qty').val().trim() != '' && !isNaN($('#qty').val().trim()))) {
                            isValidItem = false;
                            $('#qty').siblings('span.error').css('visibility', 'visible');
                            $("#qty").val('').focus();
                        } else {
                            $('#qty').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#price').val().trim() == '') {
                            isValidItem = false;
                            $('#price').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#price').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#discount').val().trim() == '') {
                            isValidItem = false;
                            $('#discount').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#discount').siblings('span.error').css('visibility', 'hidden');
                        }

                        //Add Item to List if Valid
                        if (isValidItem) {

                            var productNumber = $('#productnumber').val().trim();
                            var productName = $('#productname').val().trim();
                            var principal = $('#principal').val().trim();
                            var measurement = $('#measure').val().trim();
                            var qty = parseInt($('#qty').val().trim());
                            var price = parseFloat($('#price').val().trim());
                            var discount = (parseInt($('#qty').val().trim()) * parseFloat($('#price').val().trim())) * (parseInt($('#discount').val().trim()) / 100);
                            var total = (parseInt($('#qty').val().trim()) * parseFloat($('#price').val().trim())) - (parseInt($('#qty').val().trim()) * parseFloat($('#price').val().trim())) * (parseInt($('#discount').val().trim()) / 100);

                            if ($('#tbldetailpr tbody').children().children().length == 1) {
                                $('#tbldetailpr tbody').html('');
                            }
                            var no = $('#tbldetailpr tbody').children().length + 1;
                            //var no = 0;
                            var dynamicName = '<tr><td>' + productName + '</td></tr>'

                            //create dynamic html string
                            //var checkDuplicate = detailName.find(dataName);
                            let i;
                            for (i = 0; i <= detailName.length; i++) {
                                if (detailName.length == 0) {
                                    checkDuplicate = undefined;
                                }
                                else if (detailName.length > 0 && detailName[i] != undefined) {
                                    if (detailName[i].innerText != productNumber) {
                                        checkDuplicate = undefined;
                                    }
                                    else {
                                        swal({
                                            title: "Warning",
                                            text: "Sorry, " + detailNameProduct[i].innerText + " Already exist",
                                            type: "warning"
                                        });

                                        $('#produklist').select2('val', 'selectedIndex', 0);
                                        $("#produklist").data('placeholder');
                                        $("#productnumber,#productname,#stock,#principal,#measure,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                                        return;
                                    }
                                }
                            }

                            function dataName(proName) {
                                return proName == dynamicName;
                            }

                            if (checkDuplicate == undefined) {
                                //var dynamicTr = `<tr id="R${no}"><td class="row-index text-center"><p>${no}</p></td><td class="text-center">${productNumber}</td><td class="text-left row-productName">${productName}</td><td class="text-left">${principal}</td><td class="text-center">${measurement}</td><td class="text-center row-qty">${qty}</td><td class="text-right">${price}</td><td class="text-right">${discount}</td><td class="text-right row-total">${total}</td><td class="text-center"> <button class="btn btn-danger btn-sm">-</button> </td></tr>`;
                                var dynamicTr =
                                    `@for (int i = 0; i < Model.PurchaseRequestDetails.Count; i++)
        {
                                            <tr id="R${no}" class="detailProduct">
                                            <td class="row-index text-center"><p>${no}</p></td>
                                                        <td class="text-left row-productNumber"><input class="detProductNumber" asp-for="@Model.PurchaseRequestDetails[i].ProductNumber" type="hidden" value="${productNumber}">${productNumber}</td>
                                                        <td class="text-left row-productName"><input class="detProductName" asp-for="@Model.PurchaseRequestDetails[i].ProductName" type="hidden" value="${productName}">${productName}</td>
                                                        <td class="text-left"><input class="detPrincipal" asp-for="@Model.PurchaseRequestDetails[i].Principal" type="hidden" value="${principal}">${principal}</td>
                                                        <td class="text-left"><input class="detMeasurement" asp-for="@Model.PurchaseRequestDetails[i].Measurement" type="hidden" value="${measurement}">${measurement}</td>
                                                        <td class="text-center row-qty"><input class="detQty" asp-for="@Model.PurchaseRequestDetails[i].Qty" type="hidden" value="${qty}">${qty}</td>
                                                        <td class="text-right" hidden><input class="detPrice" asp-for="@Model.PurchaseRequestDetails[i].Price" type="hidden" value="${price}">${price}</td>
                                                        <td class="text-right" hidden><input class="detDiscount" asp-for="@Model.PurchaseRequestDetails[i].Discount" type="hidden" value="${discount}">${discount}</td>
                                                        <td class="text-right row-total" hidden><input class="detSubTotal" asp-for="@Model.PurchaseRequestDetails[i].SubTotal" type="hidden" value="${total}">${total}</td>
                                            <td class="text-center"> <button class="btn btn-danger btn-sm">X</button> </td></tr>
        }`;

                                $('#tbldetailpr tbody').append(dynamicTr);

                                detailItem.push(dynamicTr);
                                //detailName.push(dynamicName);

                                sumQty();
                                sumGranTotal();

                                $('#produklist').select2('val', 'selectedIndex', 0);
                                $("#produklist").data('placeholder');
                                $("#productnumber,#productname,#stock,#principal,#measure,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');

                                $('.btn-sm').click(function () {
                                    var child = $(this).closest('tr').nextAll();

                                    child.each(function () {
                                        var id = $(this).attr('id');
                                        if (id.length > 2) {
                                            var idx = $(this).children('.row-index').children('p');
                                            var dig = parseInt(id.substring(2));
                                            idx.html(`${dig - 1}`);
                                            $(this).attr('id', `R${dig - 1}`);
                                        } else {
                                            var idx = $(this).children('.row-index').children('p');
                                            var dig = parseInt(id.substring(1));
                                            idx.html(`${dig - 1}`);
                                            $(this).attr('id', `R${dig - 1}`);
                                        }
                                    });

                                    $(this).closest('tr').remove();

                                    swal({
                                        title: "Item successfully deleted",
                                        type: "success"
                                    });

                                    if ($('#tbldetailpr tbody').children().children().length == 0) {
                                        $('#tbldetailpr tbody').append(emptyRow);
                                        sumQty();
                                        sumGranTotal();
                                    } else {
                                        sumQty();
                                        sumGranTotal();
                                    }

                                });
                            } else {
                                $('#errorDisplay').siblings('span.error').css('visibility', 'visible');
                                return;
                            }

                            function sumQty() {
                                var sumQty = parseInt(0);
                                var getTotalQty = document.getElementsByClassName("row-qty");
                                for (var i = 0; i < getTotalQty.length; i++) {
                                    var totalqty = getTotalQty[i].innerText;
                                    //var totalqty = getTotalQty[i].lastElementChild.defaultValue;
                                    sumQty = sumQty + parseInt(totalqty);
                                }
                                $('.productTotalQty').text(sumQty);
                            }

                            function sumGranTotal() {
                                var sumGrandTotal = parseInt(0);
                                var getTotal = document.getElementsByClassName("row-total");
                                for (var i = 0; i < getTotal.length; i++) {
                                    var subtotal = getTotal[i].innerText;
                                    sumGrandTotal = sumGrandTotal + parseFloat(subtotal);
                                }
                                $('.productGrandTotal').text(sumGrandTotal);
                            }
                        }
                    }                
                } else if ($('#qty').val() == 0) {
                    swal({
                        title: "Warning",
                        text: "Qty cannot be 0 !!!",
                        type: "warning"
                    });
                    $('#produklist').select2('val', 'selectedIndex', 0);
                    $("#produklist").data('placeholder');
                    $("#productnumber,#productname,#stock,#principal,#measure,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                } else if ($('#minstock').val() == 0) {
                    swal({
                        title: "Warning",
                        text: "Sorry, Min Max Stock has not been determined !!!",
                        type: "warning"
                    });
                    $('#produklist').select2('val', 'selectedIndex', 0);
                    $("#produklist").data('placeholder');
                    $("#productnumber,#productname,#stock,#principal,#measure,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                } else {
                    swal({
                        title: "Warning",
                        text: "Please input correctly !",
                        type: "warning"
                    });
                    $('#produklist').select2('val', 'selectedIndex', 0);
                    $("#produklist").data('placeholder');
                    $("#productnumber,#productname,#stock,#principal,#measure,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                }
            });


            //Delete item
            $('.btn-sm').click(function () {
                var child = $(this).closest('tr').nextAll();

                child.each(function () {
                    var id = $(this).attr('id');
                    if (id.length > 2) {
                        var idx = $(this).children('.row-index').children('p');
                        var dig = parseInt(id.substring(2));
                        idx.html(`${dig - 1}`);
                        $(this).attr('id', `R${dig - 1}`);
                    } else {
                        var idx = $(this).children('.row-index').children('p');
                        var dig = parseInt(id.substring(1));
                        idx.html(`${dig - 1}`);
                        $(this).attr('id', `R${dig - 1}`);
                    }
                });

                $(this).closest('tr').remove();

                swal({
                    title: "Item successfully deleted",
                    type: "success"
                });

                $(this).closest('tr').remove();

                swal({
                    title: "Item successfully deleted",
                    type: "success"
                });

                if ($('#tbldetailpr tbody').children().children().length == 0) {
                    $('#tbldetailpr tbody').append(emptyRow);
                } else {
                    sumQty();
                    sumGranTotal();
                }

                function sumQty() {
                    var sumQty = parseInt(0);
                    var getTotalQty = document.getElementsByClassName("row-qty");
                    for (var i = 0; i < getTotalQty.length; i++) {
                        var totalqty = getTotalQty[i].innerText;
                        //var totalqty = getTotalQty[i].lastElementChild.defaultValue;
                        sumQty = sumQty + parseInt(totalqty);
                    }
                    $('.productTotalQty').text(sumQty);
                }

                function sumGranTotal() {
                    var sumGrandTotal = parseInt(0);
                    var getTotal = document.getElementsByClassName("row-total");
                    for (var i = 0; i < getTotal.length; i++) {
                        var subtotal = getTotal[i].innerText;
                        sumGrandTotal = sumGrandTotal + parseFloat(subtotal);
                    }
                    $('.productGrandTotal').text(sumGrandTotal);
                }

            });

            //Save button click function
            $('#submit').click(function () {
                var isAllValid = true;
                var detailItemDone = [];
                var detailDone = {};
                var UserApprovalId = $('#userapprovalid').find(":selected").val();
                var TermOfPayment = $('#termofpayment').find(":selected").val();
                var detailTable = $('#tbldetailpr tbody').children().children().length;

                if (detailTable == 1) { // 1 adalah isi dari keterangan pada table dihitung 1
                    swal({
                        title: "Warning",
                        text: "Sorry, items in the table cannot be empty",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && TermOfPayment == '' && UserApprovalId == '') {
                    $('#userapprovalid').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#termofpayment').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && TermOfPayment == '' && UserApprovalId != '') {
                    $('#termofpayment').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && TermOfPayment != '' && UserApprovalId == '') {
                    $('#userapprovalid').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else {
                    //Sembunyikan pesan error
                    $('#userapprovalid').siblings('span.error').css('visibility', 'hidden')
                    $('#termofpayment').siblings('span.error').css('visibility', 'hidden')                    

                    $("#tbldetailpr").find("tbody").children("tr").each(function (index, element) {
                        //***Penggunaan nama detail harus sesuai dengan nama pada table. Misal kodeproduk,namaproduk,dst harus sama.
                        detailDone.productnumber = $(element).find(".detProductNumber").val();
                        detailDone.productname = $(element).find(".detProductName").val();
                        detailDone.principal = $(element).find(".detPrincipal").val();
                        detailDone.measurement = $(element).find(".detMeasurement").val();
                        detailDone.qty = $(element).find(".detQty").val();
                        detailDone.price = $(element).find(".detPrice").val();
                        detailDone.discount = $(element).find(".detDiscount").val();
                        detailDone.subtotal = $(element).find(".detSubTotal").val();
                        detailItemDone.push(detailDone);
                        detailDone = {};
                    });

                    var PurchaseRequestNumber = $('#purchaserequestnumber').val();
                    var UserAccessId = $('#useraaccessid').val();
                    var UserApprovalId = $('#userapprovalid').val();
                    var TermOfPaymentId = $('#termofpayment').val();
                    var Status = $('#status').val();
                    var QtyTotal = $('.productTotalQty').text();
                    var GrandTotal = $('.productGrandTotal').text();
                    var Note = $('#note').val();
                    var PurchaseRequestDetail = detailItemDone;
                }

                if (isAllValid) {
                    var dataPost = {};
                    dataPost.PurchaseRequestNumber = PurchaseRequestNumber;
                    dataPost.UserAccessId = UserAccessId;
                    dataPost.UserApprovalId = UserApprovalId;
                    dataPost.TermOfPaymentId = TermOfPaymentId;
                    dataPost.Status = Status;
                    dataPost.QtyTotal = QtyTotal;
                    dataPost.GrandTotal = GrandTotal;
                    dataPost.Note = Note;
                    dataPost.PurchaseRequestDetails = PurchaseRequestDetail;

                    $(this).val('In process...');

                    $.post("@Url.Action("CreatePurchaseRequest", "PurchaseRequest")", { model: dataPost },
                        function (data) {
                            window.location.href = data.redirectToUrl;
                        }
                    );
                }
            });
        });
    </script>

    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 2px solid #BFAEAE;            
        }

        .tablecontainer th, .tablecontainer td {
            text-align: center;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }
    </style>
}