@{
    ViewData["Title"] = "List Purchase Order";
    Layout = "~/Views/Shared/_TopNavbarPurchaseOrder.cshtml";
}

@using PurchasingSystemApps.Areas.Order.Models;
@using PurchasingSystemApps.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model IEnumerable<PurchaseOrder>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title" style="color:#ffffff">@ViewBag.Title</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form enctype="multipart/form-data" asp-action="Index" asp-controller="PurchaseOrder" method="post" class="form-horizontal">
                        <div class="row">                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group date" id="tglAwalPencarian" data-target-input="nearest">
                                        <div class="input-group-append" data-target="#tglAwalPencarian" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        <input autocomplete="off" value="@ViewBag.tglAwalPencarian" name="tglAwalPencarian" type="text" class="form-control datetimepicker-input" placeholder="Tanggal Awal Pencarian..." />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <div class="input-group date" id="tglAkhirPencarian" data-target-input="nearest">
                                            <div class="input-group-append" data-target="#tglAkhirPencarian" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                            <input autocomplete="off" value="@ViewBag.tglAkhirPencarian" name="tglAkhirPencarian" type="text" class="form-control datetimepicker-input" placeholder="Tanggal Akhir Pencarian..." />
                                            <button type="submit" class="btn btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="daterange-btn">
                                        <option value="" hidden disabled selected>Pencarian Berdasarkan Waktu</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table id="tblTemplate" class="table table-hover table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Create Date</th>
                                        <th>Create By</th>
                                        <th>Approve By</th>
                                        <th>PO Number</th>
                                        <th>PR Number</th>
                                        <th>Status</th>
                                        <th>Grand Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pr in Model)
                                    {
                                        <tr data-href="@Url.Action("DetailPurchaseOrder", "PurchaseOrder", new {id=pr.PurchaseOrderId})">
                                            <th></th>
                                            <td>@pr.CreateDateTime.ToString("dd MMMM yyyy")</td>
                                            <td>@pr.ApplicationUser.NamaUser</td>
                                            <td>@pr.UserApproval.FullName</td>
                                            <td>@pr.PurchaseOrderNumber</td>
                                            <td>@pr.PurchaseRequestNumber</td>
                                            @if (pr.Status == "InProcess")
                                            {
                                                <td>@pr.Status</td>
                                            }
                                            else if (pr.Status == "Cancelled")
                                            {
                                                <td><div style="color:red"><b>@pr.Status</b></div></td>
                                            }
                                            else if (pr.Status == "Cancellation")
                                            {
                                                <td><div style="color:darkorange"><b>@pr.Status</b></div></td>
                                            }
                                            else
                                            {
                                                <td><div style="color:forestgreen"><b>@pr.Status</b></div></td>
                                            }
                                            <td>Rp @Math.Truncate(pr.GrandTotal)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <span class="error">* Double click in the row table to get data</span>
                    </form>
                </div>
                <!-- /.card-body -->
                @if (TempData["SuccessMessage"] != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            swal("Berhasil", '@TempData["SuccessMessage"]', "success");
                        };
                    </script>
                }
                @if (TempData["WarningMessage"] != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            swal("Gagal Simpan", '@TempData["WarningMessage"]', "warning");
                        };
                    </script>
                }
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts{
    <script src="~/scripts/tabletemplate.js"></script>

    <script>
        $(function () {
            $('#tglAwalPencarian').datetimepicker({
                format: 'DD MMMM YYYY'
            })

            $('#tglAkhirPencarian').datetimepicker({
                format: 'DD MMMM YYYY'
            })
        })
    </script>

    <style>
        tr[data-href] {
            cursor: pointer;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("dblclick", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>

    <style>
        span.error {
            display: block;
            color: #347FC4;
            font-size: 90%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 2px solid #BFAEAE;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: center;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }
    </style>
}