@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemApps.Models;
@using PurchasingSystemApps.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model ProductViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="Product" asp-action="CreateProduct" method="post" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="ProductCode">Product Code</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="ProductCode" class="form-control form-control-border border-width-2" id="" placeholder="Product Code" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="ProductName">Product Name</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="text" asp-for="ProductName" class="form-control form-control-border border-width-2" id="" placeholder="Product Name">
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>                        
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="PrincipalId">
                            Principal
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="PrincipalId" asp-items="@ViewBag.Principal" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice Principal--</option>
                            </select>
                            <span asp-validation-for="PrincipalId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="CategoryId">
                            Category
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="CategoryId" asp-items="@ViewBag.Category" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice Category--</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="MeasurementId">
                            Measure
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="MeasurementId" asp-items="@ViewBag.Measurement" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice Measure--</option>
                            </select>
                            <span asp-validation-for="MeasurementId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="DiscountId">
                            Discount
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="DiscountId" asp-items="@ViewBag.Discount" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice Discount--</option>
                            </select>
                            <span asp-validation-for="DiscountId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="WarehouseLocationId">
                            Warehouse Location
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="WarehouseLocationId" asp-items="@ViewBag.Warehouse" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choice Warehouse Location--</option>
                            </select>
                            <span asp-validation-for="WarehouseLocationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="MinStock">Min Stock</label>
                        <div class="col-sm-9">
                            <input maxlength="75" autocomplete="off" type="number" asp-for="MinStock" class="form-control form-control-border border-width-2" id="" placeholder="Min Stock" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="MaxStock">Max Stock</label>
                        <div class="col-sm-9">
                            <input maxlength="75" autocomplete="off" type="number" asp-for="MaxStock" class="form-control form-control-border border-width-2" id="" placeholder="Max Stock" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="BufferStock">Buffer Stock</label>
                        <div class="col-sm-9">
                            <input maxlength="75" autocomplete="off" type="number" asp-for="BufferStock" class="form-control form-control-border border-width-2" id="" placeholder="Buffer Stock" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="Stock">Stock</label>
                        <div class="col-sm-9">
                            <input maxlength="75" autocomplete="off" type="number" asp-for="Stock" class="form-control form-control-border border-width-2" id="" placeholder="Stock" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="Cogs">Cogs</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="number" asp-for="Cogs" class="form-control form-control-border border-width-2" id="" placeholder="Cogs" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="BuyPrice">Buy Price</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="number" asp-for="BuyPrice" class="form-control form-control-border border-width-2" id="" placeholder="Buy Price">
                            <span asp-validation-for="BuyPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="RetailPrice">Retail Price</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="number" asp-for="RetailPrice" class="form-control form-control-border border-width-2" id="" placeholder="Retail Price">
                            <span asp-validation-for="RetailPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="StorageLocation">Storage Location</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="text" asp-for="StorageLocation" class="form-control form-control-border border-width-2" id="" placeholder="Storage Location">
                            <span asp-validation-for="StorageLocation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="RackNumber">Rack Number</label>
                        <div class="col-sm-9">
                            <input maxlength="100" autocomplete="off" type="number" asp-for="RackNumber" class="form-control form-control-border border-width-2" id="" placeholder="Rack Number">
                            <span asp-validation-for="RackNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="Note">Note</label>
                        <div class="col-sm-9">
                            <input maxlength="250" autocomplete="off" type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="" placeholder="Note">
                        </div>
                    </div>
                </div>
                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Save</div></button>
                        <a class="btn btn-default" asp-action="Index" asp-controller="Product">Cancel</a>
                    </div>
                </div>
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->