@{
    ViewData["Title"] = "Generate Request";
    //Layout = "~/Views/Shared/_TopNavbarTransaksi.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemApps.Areas.Transaction.ViewModels;

@model UnitRequestViewModel
@inject SignInManager<ApplicationUser> signInManager

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-indigo">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" id="generateTrf" asp-controller="UnitRequest" asp-action="GenerateRequest" method="post" class="form-horizontal">
                <div class="card-body">
                    <input type="hidden" asp-for="UnitRequestId" />
                    <input type="hidden" asp-for="UserAccessId" />
                    <input type="hidden" asp-for="Status" />

                    @if (signInManager.IsSignedIn(User))
                    {
                        <input asp-for="@User.Identity.Name" class="form-control" type="hidden">
                    }

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Transfer Number</label>
                        <div class="col-sm-10">
                            @Html.Hidden("WRNumber", (object)ViewBag.WarehouseRequestNumber)
                            <input type="text" value="@ViewBag.WarehouseRequestNumber" class="form-control form-control-border border-width-2" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="UnitLocationId">
                            Unit Location
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="UnitLocationId" asp-items="@ViewBag.UnitLocation" class="form-control select2bs4" id="UnitLocation" style="width: 100%;" disabled>
                                <option value="" hidden disabled selected>--Choose Unit--</option>
                            </select>
                            <span asp-validation-for="UnitLocationId" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="UnitRequestManagerId">
                            Request By
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="UnitRequestManagerId" asp-items="@ViewBag.RequestBy" class="form-control select2bs4" id="RequestBy" style="width: 100%;" disabled>
                                <option value="" hidden disabled selected>--Choose User--</option>
                            </select>
                            <span asp-validation-for="UnitRequestManagerId" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="WarehouseLocationId">
                            Warehouse Location
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="WarehouseLocationId" asp-items="@ViewBag.WarehouseLocation" class="form-control select2bs4" id="WarehouseLocation" style="width: 100%;" disabled>
                                <option value="" hidden disabled selected>--Choose Location--</option>
                            </select>
                            <span asp-validation-for="WarehouseLocationId" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="WarehouseApprovalId">
                            Warehouse Approval
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="WarehouseApprovalId" asp-items="@ViewBag.Approval" class="form-control select2bs4" id="WarehouseApproval" style="width: 100%;" disabled>
                                <option value="" hidden disabled selected>--Choose User--</option>
                            </select>
                            <span asp-validation-for="WarehouseApprovalId" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Note">Note</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="Note" placeholder="Note" disabled>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-header bg-indigo">
                            <h3 class="card-title fw-bold" style="color:#ffffff">Item</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card-body table-responsive p-0">
                                <table id="tbldetailpr" class="table table-head-fixed text-nowrap table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">No</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Number</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Name</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Principal</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Measure</div></th>
                                            <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty</div></th>
                                            @*<th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Checked</div></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.UnitRequestDetails.Count; i++)
                                        {
                                            var no = (Model.UnitRequestDetails.Count - Model.UnitRequestDetails.Count) + i + 1;

                                            <tr id="R$@no" class="detailProduct">
                                                <td class="row-index text-center"><p>@no</p></td>
                                                <td class="text-left row-productNumber"><input class="detProductNumber" asp-for="@Model.UnitRequestDetails[i].ProductNumber" type="hidden" value="@Model.UnitRequestDetails[i].ProductNumber">@Model.UnitRequestDetails[i].ProductNumber</td>
                                                <td class="text-left row-productName"><input class="detProductName" asp-for="@Model.UnitRequestDetails[i].ProductName" type="hidden" value="@Model.UnitRequestDetails[i].ProductName">@Model.UnitRequestDetails[i].ProductName</td>
                                                <td class="text-left"><input class="detPrincipal" asp-for="@Model.UnitRequestDetails[i].Principal" type="hidden" value="@Model.UnitRequestDetails[i].Principal">@Model.UnitRequestDetails[i].Principal</td>
                                                <td class="text-left"><input class="detMeasurement" asp-for="@Model.UnitRequestDetails[i].Measurement" type="hidden" value="@Model.UnitRequestDetails[i].Measurement">@Model.UnitRequestDetails[i].Measurement</td>
                                                <td class="text-center row-qty"><input class="detQty" asp-for="@Model.UnitRequestDetails[i].Qty" type="hidden" value="@Model.UnitRequestDetails[i].Qty">@Model.UnitRequestDetails[i].Qty</td>                                                
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="text-right"><b>Total Qty</b></td>
                                            <td id="producttotalqty" class="text-center productTotalQty">@Model.QtyTotal</td>                                          
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- start button footer -->
                    <div class="card card-orange">
                        <div class="card-body">
                            @****Perhatikan type nya jika submit akan berbeda hasil pada json, jadi pakai type button*@
                            <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold">Simpan</button>
                            <a class="btn btn-default" asp-action="Index" asp-controller="UnitRequest">Batal</a>
                        </div>
                    </div>
                    <!-- /.end button footer -->

                </div>
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts {
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>   

    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script type="text/javascript">
        document.querySelector('#generateTrf').addEventListener('submit', function (e) {
            var form = this;

            e.preventDefault();

            swal({
                title: "Are you sure?",
                text: "Data will be saved and cannot be undone !",
                showCancelButton: true,
                cancelButtonText: 'No',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Save Data'
            }).then(function (isConfirm) {
                if (isConfirm) {
                    form.submit();
                }
                else if (result.dismiss === swal.DismissReason.cancel) {
                    swal("Cancel", "Data not saved", "error");
                }
            });
        });
    </script>
    <style>
        .swal-button--confirm {
            background-color: #DD6B55;
        }
    </style>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
            };
        </script>
    }
}